ul {
    list-style-type: none;
}

#oef1 {
    display: none;
}

#oef2 {
    display: none;
}
#oef3 {
    display: none;
}
#oef4 {
    display: none;
}
#oef5 {
    display: none;
}
#oef6 {
    display: none;
}
#oef7 {
    display: none;
}
#oef8 {
    display: none;
}
#oef9 {
    display: none;
}
#oef10 {
    display: none;
}
#resting {
    display: none;
}
#end {
    display: none;
}
#time {
    display: none;
}
.angie{
    margin-top: 150;
    padding:100px;
}