<nav class="navborder navbar navbar-expand-lg navbar-light bg-light">  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/todo" routerLinkActive="active">ToDo list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/done" routerLinkActive="active">Done</a>
            </li>
        </ul>
    </div>
  </nav>

<div class="angie text-center">
<h1>ToDo list</h1>
<input #add placeholder="To Do item"/>
<button  (click)="addToDo(add.value); add.value=''">Add to do</button>

<div class="todolist" *ngFor = "let todo of Todolijst">
    <mat-checkbox #checkbox [checked]="todo.checked" (change)="valueChange(checkbox.checked,todo,$event)" labelPosition="before">{{todo.name}}</mat-checkbox>
</div>

<app-done class="donenone" [parentData]="Donelijst"></app-done>

</div>