a:hover {
    border-bottom: 3px solid blue;
  }

a.active {
    border-bottom: 3px solid blue;
}

.navborder{
    border-bottom: 3px solid grey;
}

.donenone{
    display: none;
}
.angie{
    margin-top: 150;
    padding:100px;
}